@charset "UTF-8";
#img {
    z-index: 1;
    position: absolute;
    left: 50px;
    top: 50px;
}

#gameBoard {
    z-index: 2;
    position: absolute;
    left: 50px;
    top: 50px;
}

#log {
    position: absolute;
    left: 880px;
    top: 30px;
}

#score {
    color: red;
}

.player {
    z-index: 3;
    position: absolute;
    top: 50;
    left: 50;
    width: 50px;
    height: 50px;
}

#line {
    z-index: 3;
    width: 5px;
    height: 5px;
}